{% extends "base.html" %}
{% block page_content %}
<h1>Мои блоги</h1>
<div class="row">
    {% for blog in blogs %}
    <div class="col-md-4">
        <div class="card md-2">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <span class="card-text">{{ blog.created_on }}</span>
                <p class="card-text">{{ blog.body }}</p>

                <a href="{% url 'blog_detail' blog.pk %}"
                   class="btn btn-primary">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

